*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    background-color: #EEEEEE;
    overflow-x: hidden;
    font-size: 1em;
    font-family: Arial;
}
.item{
    width: 80vw;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-family: Arial;
}
#head{
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 3rem;
    font-family: "Courier";
}
#head a{
    color: black;
}
#foot {
    font-family: "Courier";
    font-size: 1rem;
    padding: auto;
}
#foot a{
    color: black;
    display: table;
    margin: auto;
}
a{
    text-decoration: none;
    color: CornflowerBlue;
}
a:hover {
    color: DeepSkyBlue;
}

/*Small Screen*/
@media screen and (max-width: 700px){
    html{
        font-size: 1.5em;
    }
    .item{
        width: 100vw;
    }
}
/*Medium Screen*/
@media screen and (min-width: 701px) and (max-width: 1400px){
    html{
        font-size: 1.2em;
    }
    .item{
        width: 90vw;
    }
}